//Variables
$color: #355665;
$app-background: #F7F8FC;
$menu-background: #FFF;
$menu-color:#24404C;
$menu-hover-color:#3277FA;
$button-color:#3277FA;
$button-background-color:#FFF;
$button-active-color:#FFF;
$button-active-background-color:#00EC8E;
$footer-background-color:#364059;
$blue-color:#87B1FF;
$white-color: #FFF;
$width-100: 100%;
$line-height:1.5em;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #69CB33;
$font-primary-blue: #073d6d;
$h1-font-size:24px;
$h2-font-size:22px;
$h3-font-size:20px;
$h4-font-size:18px;
$h5-font-size:14px;
$h6-font-size:12px;
$site-font-size: 12px;
