*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	display:block;
}

body{
	font-size:$site-font-size;
	color:$color;
	background-color:$app-background;
	font-family:Arial, Helvetica, sans-serif;
  width:$width-100;
}

p{
	line-height:$line-height;
	padding-bottom:0.5em;
}

/* Hyperlink Styles: */
a, a:visited {
	color:$color;
	text-decoration:none;
	outline:none;
}
a:hover{
	text-decoration:underline;
}

/* Headings: */
h1{
	font-size:$h1-font-size;
	padding:0.5em 0 0;
  letter-spacing:0.02em;
  text-transform:uppercase;
}

h2{
	font-size:$h2-font-size;
	padding:0.25em 0 0;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

h3{
	font-size:$h3-font-size;
	font-weight:normal;
	margin:0 0 1em;
}

h4{
	font-size:$h4-font-size;
	margin:0 0 0.75em;
}

h5{
	font-size:$h5-font-size;
	margin:0 0 0.5em;
	text-transform:uppercase;
}

h6{
	font-size:$h6-font-size;
	margin:0 0 0.25em;
}

button{
  padding: 10px 20px;
  border: 1px solid $button-color;
  color: $button-color;
  border-radius: 5px;
  font-weight: bold;
  background-color: $button-background-color;
  cursor: pointer;
  margin-top: 20px;
}
button.active, button:hover{
  color: $button-active-color;
  background-color: $button-active-background-color;
}
.blue-button{
	background-color: $button-color;
	color: $white-color;
	border-radius: 3px;
}
.col-12{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100% !important;
	-ms-flex: 0 0 100% !important;
	flex: 0 0 100% !important;
	max-width: 100% !important;
}
.col-8{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 66.666667%;
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
.col-6{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.col-4{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.333333%;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.col-3{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.col-2{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 16.666667%;
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}
.width-100{
	width: 100%;
}
.width-90{
    width: 90%;
}
.width-80{
    width: 80%;
}
.width-70{
    width: 70%;
}
.width-60{
    width: 60%;
}
.width-50{
    width: 50%;
}
.width-40{
    width: 40%;
}
.width-30{
    width: 30%;
}
.width-20{
    width: 20%;
}
.width-10{
    width: 10%;
}
.p-l-20{
  padding-left: 20px;
}
.p-l-30{
  padding-left: 30px;
}
.p-r-30{
  padding-right: 30px;
}
.m-r-10{
  margin-right: 10px;
}
.m-r-30{
  margin-right: 30px;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.breadcrumb-sec{
  padding: 20px 40px;
  .breadcrumb{
    li {
    	position:relative;
    	list-style-type: none;
			font-size: 14px;
			font-weight: bold;
      a{
        padding-left: 10px;
				font-size: 12px;
				font-family: Arial, Helvetica, sans-serif;
      }
  	}
  }
}
/* Article styles: */

.articles-sec{
	position:relative;
  article{
    margin: 20px 40px;
    background-color: $white-color;
    padding: 40px;
    display: flex;
    flex-direction: row;
    .profile{
      border-right: 1px solid #CCC;
      display: flex;
      flex-direction: row;
      margin: 20px;
      figure{
        float: left;
      	overflow:hidden;
        border: 1px solid #CCC;
        border-radius: 50%;
        img{
          width:100%;
          height:100%;
        }
      }
    }
    .profile-info{
      display: flex;
      flex-direction: row;
      margin: 20px;
      .card{
        width: 100%;
        .card-text{
          width: 100%;
          display: flex;
          flex-direction: row;
          line-height: 40px;
          label{
              font-size: 14px;
              font-weight: bold;
            }
        }
      }
    }
  }
}
.card{
    position:relative;
    .card-title{
      display: flex;
      flex-direction: row;
    }
    .card-text{
      .highlighter{
        color:$menu-hover-color;
      }
    }
}

.content-sec{
	position: relative;
	margin: 20px 40px;
	.tab{
		ul{
			li {
				list-style-type: none;
				float: left;
				padding: 10px 20px;
				a{
					font-size: 14px;
					font-weight: bold;
					&:hover{
						color:#55A8FD;
						text-decoration: none;
					}
				}
				&:hover{
					border-bottom:2px solid #55A8FD;
				}
			}
			.active{
					border-bottom:2px solid #55A8FD;
					a{
						color:#55A8FD;
					}
			}
		}
	}
	.tab-content{
		border-top: 1px solid #CCC;
		position: relative;
		display: flex;
		flex-direction: row;
	}
	.content-card{
		background-color: $white-color;
		padding: 20px;
		margin-top: 20px;
		li{
			list-style-type: none;
			letter-spacing:0.02em;
			line-height: 2em;
		}
	}
	.pagination{
		position: relative;
		display: flex;
		flex-direction: row;
		margin-top: 20px;
		ul{
			font-weight: bold;
			li{
				float: left;
				padding: 5px 10px;
				cursor: pointer;
				&:hover{
					color:#55A8FD;
				}
			}
			.active{
					color:#55A8FD;
			}
		}
	}

	.page-left{
		text-align: left;
		font-size: 28px;
		font-weight: normal;
		cursor: pointer;
	}
	.page-right{
		text-align: right;
		font-size: 28px;
		font-weight: normal;
		cursor: pointer;
	}
}
.more{
		color: #55A8FD;
		cursor: pointer;
}

.line{
	border-bottom: 1px solid #CCC;
	margin: 10px 0;
}
.div-line{
	border-bottom: 1px solid #CCC;
	margin: 20px 0;
}
.chips{
	button{
		border: 1px solid #CCC;
		border-radius: 20px;
		padding: 10px 20px;
		margin: 5px;
		color: #CCC;
	}
	button:hover{
		background: #FFF;
	}
}
.flag{
	margin-top: 20px;
	span{
		margin: 0px 30px 5px 5px;
	}
	img{
		width: 20px;
		height: 15px;
	}
}
.rounded-img{
	width: 50px;
	border-radius: 50%;
}
.multi-prof{
	display: relative;
	display: flex;
  flex-direction: row;
	margin-top: 20px;
}
.similar-prof{
	margin-top: 30px;
}
.blue{
		color: #55A8FD;
}
.view-more{
	font-family: Arial, Helvetica, sans-serif;
}
.green{
	color: #00EC8E;
}
.free-lanc{
	font-family: Arial, Helvetica, sans-serif;
}
.available-tag{
	color: #FFF;
	background-color: #00EC8E;
	padding: 5px 10px;
	border-radius: 10px;
	margin-left: 10px;
	font-weight: bold;
}
.social-link{
	color: #00EC8E;
	font-size: 22px;
	ul li{
		list-style-type: none;
		float: left;
		padding-right: 30px;
		a{
			color: #55A8FD;
		}
	}
}
.tack-title{
	font-size: 16px;
}

.grid-container{
		width: 100%;
		max-width: 1200px;
		* {
			box-sizing: border-box;
		}
		.row:before,
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }
		[class*='col-'] {
		    float: left;
		    min-height: 1px;
		    width: 16.66%;
		    /*-- our gutter --*/
		    padding: 12px;
        background-color: #FFDCDC;
		}
		.col-2{ width: 16.66%; }
    .col-4{ width: 33.33%; }
    .col-6{ width: 50%;    }
    .col-8{ width: 66.66%; }
    .col-20{ width: 83.33%; }
    .col-22{ width: 100%;   }

    .outline, .outline *{
        outline: 1px solid #F6A1A1;
    }
}
